[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/plugins-vendor/nerdtree"]
	path = vim/plugins-vendor/nerdtree
	url = https://github.com/preservim/nerdtree.git
	ignore = dirty
[submodule "vim/plugins-vendor/vim-easycomplete"]
	path = vim/plugins-vendor/vim-easycomplete
	url = https://github.com/jayli/vim-easycomplete.git
	ignore = dirty
[submodule "vim/plugins-vendor/undotree"]
	path = vim/plugins-vendor/undotree
	url = https://github.com/mbbill/undotree.git
	ignore = dirty
[submodule "vim/plugins-vendor/tagbar"]
	path = vim/plugins-vendor/tagbar
	url = https://github.com/preservim/tagbar.git
	ignore = dirty
[submodule "vim/plugins-vendor/lightline.vim"]
	path = vim/plugins-vendor/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	ignore = dirty
[submodule "vim/plugins-vendor/vim-fugitive"]
	path = vim/plugins-vendor/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/plugins-vendor/vim-systemc"]
	path = vim/plugins-vendor/vim-systemc
	url = https://github.com/Kocha/vim-systemc.git
	ignore = dirty
[submodule "vim/plugins-vendor/verilog_systemverilog.vim"]
	path = vim/plugins-vendor/verilog_systemverilog.vim
	url = https://github.com/vhda/verilog_systemverilog.vim.git
	ignore = dirty
[submodule "zsh/vendor/ohmyzsh"]
	path = zsh/vendor/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	ignore = dirty
[submodule "zsh/vendor/zsh-autosuggestions"]
	path = zsh/vendor/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	ignore = dirty
[submodule "zsh/vendor/powerlevel10k"]
	path = zsh/vendor/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	ignore = dirty
[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = zsh/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "vim/plugins-vendor/a.vim"]
	path = vim/plugins-vendor/a.vim
	url = https://github.com/vim-scripts/a.vim.git
	ignore = dirty
[submodule "vim/plugins-vendor/AnsiEsc.vim"]
	path = vim/plugins-vendor/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
	ignore = dirty
[submodule "vim/plugins-vendor/cecutil"]
	path = vim/plugins-vendor/cecutil
	url = https://github.com/vim-scripts/cecutil.git
	ignore = dirty
